body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 14px;
    border: 2px groove #000000;
  }

  .jumbotron {
    margin-top: 170px;
    background-image: url('https://www.ppt-backgrounds.net/thumbs/grunge-black-hd-black-dark-flowers-grunge-grey---image-keynote.jpeg');
  }

  .div2 {
    text-align: center;
  }
  
  .img-renan {
    margin-top: 195px;
    border-radius: 50%;
    border-style: solid;
    width: 200px;
  }

  .txt-medium {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 50px;
    color:aliceblue;
  }

  .backgroud-txt {
    background-color: rgb(75, 72, 74);
    margin-left: 100px; 
    margin-right: 100px;
    margin-top: 50px;
  }

  .img-languages {
    margin-top: 50px;
    margin-left: 100px;
    margin-top: 0px;
  }

  .txt-languages {
    margin-top: 50px;
  }

  .txt-container {
    background-size: cover;
    background-color: rgb(255, 255, 255);
    margin-left: 150px;
    margin-right: 150px;
    border-style: solid;
  }

  .languages {
    margin-left: 75%;
  }

  .img-sql,
  .img-py,
  .img-flask,
  .img-git,
  .img-azure {
    width: 75px;
  }

  .display-3{
    color: white;
  }


